{% extends "base.html.jinja" %}
{% block content %}

    {# dodanie do tablicy markdown klasy table, aby wykorzystać formatowanie css bootstrap #}
    <div class="tables-start"></div>
        {{html}}
    <div class="tables-end"></div>

    <script type="text/javascript">
        $('div.tables-start').nextUntil('div.tables-end', 'table').addClass('table');
    </script>
{% endblock %}