{% extends "base.html.jinja" %}
{% block content %}
    <p class="lead"> Aplikacja webowa służy do
                    pobierania z serwisu Ceneo.pl opinii o produktach na podstawie ich indywidualnych kodów
                    oraz do wyświetlenia pobranych opinii i podstawowych statystyk o nich</p>
                
                <blockquote class="blockquote">
                    <p>Już końcówka semestru, a ja dalej nie wiem jak się commituje na gita</p>
                    <footer class="blockquote-footer">Jeden ze studentów <cite title="Source Title">Informatyki Stosowanej</cite></footer>
                </blockquote>
    </p>
{% endblock%}